{% extends 'layout/base.html' %}

{% block 'title' %} Ingresar dinero ahorros {% endblock %}

{% block 'styles' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block 'content' %}
    <form action="{% url 'savingsDeposit' id=category.id %}" method="POST">
        <h1 class=formTitle>INGRESAR DINERO</h1>
        <p class=formSubtitle>Cuanto dinero desea ingresar a la categoria {{category.name}}?</p>
        <p class=formSubtitle>Actualmente tu ahorro es de $ {{category.current_funds}}</p>
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <div class="btn-wrapper">
            <button class="btn-cancel"><a href="{% url 'categoriesIndex' %}">Cancelar</a></button>
            <input class='btn-send' type="submit" value="Ingresar dinero" name="NewPaymentForm">
        </div>
    </form>
{% endblock %}