:root {
    --color-primary: #3266a8;
    --color-secondary: #a88c32;
    --color-text: #666;
    --font-main: infinity-bold;
    --font-text: infinity-regular;
}

/* Main Settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-text);
    color: var(--color-text)
}

body {
    margin-top: 100px;
    background-color: antiquewhite;
}

@font-face{
    font-family: infinity-regular;
    src: url('../fonts/infinity/Regular.otf')
}

@font-face{
    font-family: infinity-bold;
    src: url('../fonts/infinity/Black.otf')
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--font-main);
}

h1 {
    margin-top: 20px;
}

#total {
    background-color: blue;
}

#total2 {
    color: black;
}

a {
    color: black;
}

/* End Main Settings */


/* Nav bar Settings */

nav {
    position: fixed;
    margin-top: -100px;
    display: flex;
    width: 100%;
    height: 80px;
    background-color: var(--color-secondary);
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    width: 90vw;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

nav ul li a {
    text-decoration: none;
    color: beige;
    text-transform: uppercase;
    font-family: var(--font-main);
    justify-content: space-around;
    padding: 40px;
}

nav ul li a:hover {
    color: black;
}

/* End Nav bar Settings */

/* Layout Settings */

main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: flex-start;
    align-items: center;
}

.list {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-text);
    border-radius: 10px;
    width: 50%;
    list-style-type: none;

}

.list li {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid var(--color-text);
}

.list li a {
    text-decoration: none;
}

.list li a:hover {
    color: black;
}

.my-btn {
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
}

.btn-detail {
    background-color: var(--color-primary);
    color: white;
}

.btn-delete {
    background-color: #c91616;
    color: white;
}

.btn-edit {
    background-color: green;
    color: white;
}

.btn-search {
    background-color: var(--color-primary);
    color: white;
    width: 19%;
    height: 35px;
    cursor: pointer;
    padding: 5px;
    margin-top: -5px;
}

.btn-search:hover {
    color: black;
    background-color: #769aca;
    border: solid 1px  black;
}

.aux-btns {
    padding: 10px;
    margin: 40px 0 5px 154px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-self: flex-start;
    background-color: rgb(46, 41, 41);
    border-radius: 10px;
}

.aux-btns a {
    text-decoration: none;
    margin: 5px;
    padding: 5px;
}

.aux-btns p {
    margin: 5px;
    padding: 5px;
    color: white;
    font-size: x-large;
}

.messages{
    margin: 20px 0 0 -280px;
}

.messages .alert-success {
    width: 200%;
    padding: 20px 0 20px 0;
    background-color: green;
    color: white;
    border: solid 1px;
    text-align: center;
    border-radius: 5px;
    list-style-type: none;
}

.messages .alert-error {
    width: 200%;
    padding: 20px 0 20px 0;
    background-color: rgb(192, 18, 18);
    margin-left: -50px;
    color: white;
    border: solid 1px;
    text-align: center;
    border-radius: 5px;
    list-style-type: none;
}

.alert-warning {
    width: 200%;
    padding: 20px 0 20px 0;
    background-color: rgb(189, 192, 37);
    margin-left: 35px;
    color: white;
    border: solid 1px;
    text-align: center;
    border-radius: 5px;
    list-style-type: none;
}

#custom-table {
    width: 80%;
    color: white;
    vertical-align: middle;
}

#custom-table-head tr th {
    color: white;
    background-color: black;
}

/* Index settings */

.cards {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 150px;
}

.card {
    width: 300px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--color-primary);
    margin-right: 50px;
}

.card:hover {
    background-color: lightblue;
}

.card a {
    color: black;
    text-decoration: none;
    padding: 100px;
    text-align: center;
}

/* End index settings */

/* Start fund index settings */

.aux-btns-funds {
    width: 20%;
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: rgb(46, 41, 41);
    border-radius: 10px;

}

.aux-btns-funds a {
    text-decoration: none;
    color: white;
    padding: 20px 80px 20px 80px;
}

.aux-btns-funds:hover {
    text-decoration: none;
    color: white;
    background-color: rgba(46, 41, 41, 0.9);
}

.card-funds {
    width: 700px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    margin: 50px 0 50px 0;
    border: solid 1px black;
}

.card-funds p {
    color: 0b6b10;
    font-size: 100px;
    text-decoration: none;
    padding: 100px;
    text-align: center;
}

/* End fund index settings */

/* Table settings */
.bordered-row {
    border: 1px solid black;
}

.green-cell {
    color: green !important;
}

.red-cell {
    color: red !important;
}

.total_month{
    color: black;
}

/* End Table settings */

/* Header include settings */

.header-container {
    display: flex;
    align-items: center;
    margin: 30px;
}

.inline-header {
    display: inline;
    margin-right: 10px;
}

/* End Header include settings */

/* Search bar settings */
/* .search {
    margin-top: 30px;
    width: 50%;
}

.search-bar {
    padding: 5px 5px 5px 10px;
    width: 80%;
    border-radius: 5px;
    outline: none;
    box-shadow: none;
} */

#myInput{
    display: flex;
    width: 80%;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    margin-top: 30px;
}

/* End Search bar settings */

.modal-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.modal-body ul li {
font-size: x-large;
list-style-type: none;
color: #a88c32;
margin: 10px;
}

.modal-body ul li p {
display: inline;
text-align: end;
color: black;
margin-left: 0;
}

.modal-body-movements {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.modal-body-movements ul li {
font-size: x-large;
list-style-type: none;
color: #a88c32;
margin: 10px;
}

.modal-body-movements ul li p {
display: inline;
text-align: end;
color: black;
margin-left: 0;
}

.bottomBody {
    margin: 10px;
}

.bottomBody ul li {
    align-items: center;
    text-align: center;
    font-size: x-large;
    list-style-type: none;
    color: #a88c32;
    margin: 5px;
}
.bottomBody ul {
    padding: 0;
}

.bottomBody ul li p {
    color: black;
    margin: 0;
    font-size: large;
}

.modal-title-movements {
    margin-left: 70px;
}

.formLarge {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.table td {
    vertical-align: middle;
}

.table td p {
    vertical-align: middle;
    margin-bottom: 5px;
}

