{% if month == 1 %}
    <h1>ENERO</h1>
{% elif month == 2 %}
    <h1>FEBRERO</h1>
{% elif month == 3 %}
    <h1>MARZO</h1>
{% elif month == 4 %}
    <h1>ABRIL</h1>
{% elif month == 5 %}
    <h1>MAYO</h1>
{% elif month == 6 %}
    <h1>JUNIO</h1>
{% elif month == 7 %}
    <h1>JULIO</h1>
{% elif month == 8 %}
    <h1>AGOSTO</h1>
{% elif month == 9 %}
    <h1>SEPTIEMBRE</h1>
{% elif month == 10 %}
    <h1>OCTUBRE</h1>
{% elif month == 11 %}
    <h1>NOVIEMBRE</h1>
{% elif month == 12 %}
    <h1>DICIEMBRE</h1>
{% endif %}